firebase_admin==6.8.0
Flask==3.1.1
Flask_SocketIO==5.5.1
pandas==1.5.3
protobuf==6.31.1
python-dotenv==1.1.0
python-socketio==5.13.0
pyttsx3==2.98
Requests==2.32.3
scipy==1.15.3
SpeechRecognition==3.14.1
torch==2.6.0
transformers==4.50.0
