firebase_admin==6.8.0
Flask==3.1.1
Flask_SocketIO==5.5.1
pandas==1.5.3
numpy>=1.24,<1.26
protobuf==6.31.1
python-dotenv==1.1.0
python-socketio==5.13.0
pyttsx3==2.98
Requests==2.32.3
scipy==1.15.3
SpeechRecognition==3.14.1
torch==2.6.0
transformers==4.50.0
gunicorn==21.2.0
eventlet==0.33.3

openai
google-generativeai
httpx
vosk
sounddevice
pyttsx3
TTS==0.22.0
pytest
coverage
deepspeed
huggingface_hub
matplotlib
encodec
cutlet
umap_learn
g2pkk
fsspec
gradio
packaging
setuptools
librosa
tokenizers
gruut_ipa
num2words
bnunicodenormalizer
pysbd
tqdm
einops
onnxruntime
pypinyin
soundfile
k_diffusion
anyascii
torchaudio
inflect
Cython
opencc
MeCab
hangul_romanize
spacy==3.8.3
six
faster_whisper
mutagen
coqpit
clearml
jamo
PyYAML
seaborn
kaggle
absl_py
bnnumerizer
jieba
JPype1
gruut